.banner {
    height: 223px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
    text-align: center;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    max-width: 1240px;
    width: 100%;

    .overlay {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3); 
        border-radius: 25px; 
    }
    
    p {
        color: #FFF;
        font-size: 48px;
        font-weight: 500;
        z-index: 1;
    }
  }

@media (max-width: 480px) {

    .banner {
        height: 111px; 
        justify-content: flex-start;

        p {
            text-align: left;
            font-size: 24px;
            width: 70%;
            margin-left: 16px;
        }
    }
}