
.banner {
    height: 223px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
    text-align: center;
    max-width: 1240px;
    min-width: 1240px;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
  }

.overlay {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3); /* Couleur de fond pour l'overlay avec opacité */
    border-radius: 25px; /* Bord arrondi pour l'overlay */
}

h1 {
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    z-index: 1;
}

@media (max-width: 480px) {

    .banner {
        height: 111px; 
        min-width: 335px;
        justify-content: flex-start;
    }
    h1 {
        text-align: left;
        font-size: 24px;
        max-width: 215px;
    }
}