.dropdown {    
    .dropdown-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background-color: #FF6060;
    color: white;
    border: none;
    width: 100%;
    text-align: left;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    height: 52px;
    
    .arrow {
      float: right;
    }

    .open {
      transform: rotate(180deg);
    }
  }

      
  .dropdown-content {
    background-color: #F6F6F6;
    padding: 16px;
    
    p {
    color: #FF6060;
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    }
  }
}

@media (max-width: 480px) {

    .dropdown {    
        .dropdown-title {
        font-size: 13px;
        height: 30px;
        
        .arrow {
          height: 20px;
        }
      }
    
          
      .dropdown-content {
        padding: 13px;
        
        p {
        font-size: 12px;
        text-align: left;
        }
      }
    }
}


