nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
    width: 100%;
    max-width: 1240px;

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 57px;
    }
    
    a {
        text-decoration: none;
        color: #FF6060;
        font-size: 24px;
        font-weight: 500;
    }
    
    .active {
        text-decoration-line: underline;
    }
    
    .logo-mobile {
        display: none;
    }
}

@media (max-width: 480px) {
    nav {
        margin-top: 20px;
        width: 90%;

        .logo-desktop {
            display: none;
        }
    
        .logo-mobile {
            display: block;
        }
    
        a {
            font-size: 12px;
            text-transform: uppercase;
        }
    
        ul {
            gap: 26px;
        }
    }
  }