.banner.about-banner {
    margin-top: 38px;
    margin-bottom: 38px;
}
.about-dropdown {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1240px;
    width: 100%;
}
@media (max-width: 480px) {
    .banner.about-banner {
        margin-top: 19px;
        margin-bottom: 19px;
    }
}