.property-information {
    color: #FF6060;
    font-family: 'Montserrat';

    p {
        color: #FF6060;
    }
}

.title-and-host {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-and-host h1 {
    font-size: 36px;
    font-weight: 500;
    margin-top: 25px;
    color: #FF6060;
}

.host-info {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: 500;
    margin-top: 24px;
}

.host-picture {
    height: 64px;
    width: 64px;
    border-radius: 90px;
}

.host-name {
    text-align: right;
    width: 93px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.property-location {
    font-size: 18px;
    font-weight: 500;
    margin-top: -25px;
}

.property-tags-and-rating {
    display: flex;
    flex-direction: row;
    display: flex;
    gap: 10px;
    justify-content: space-between;

    .property-rating {
        width: 196px;
        height: 36px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;

        img {
            width: 20%;
        }
    }

    .property-tags {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .tag {
            min-width: 95px;
            padding-left: 10px;
            padding-right: 10px;
            height: 25px;
            border-radius: 10px;
            background: #FF6060;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFF;
            font-size: 14px;
        }
    }
}

.detail-page-dropdown {
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
  
    .dropdown-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
  
    .dropdown-content {
      max-width: 542px;
      width: 542px;

      ul {
        color: #FF6060;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        gap: 3px;
        margin: 0px;
        padding-left: 0px;
      }
    }
}

div.dropdown.description-dropdown {
    max-width: 582px;
    min-width: 582px;
    margin-top: 25px;
}

div.dropdown.equipements-dropdown {
    max-width: 582px;
    min-width: 582px;
    margin-top: 25px;
}


@media (max-width: 480px) {
    .property-detail-page {
        max-width: 335px;
    }

    .title-and-host h1 {
        font-weight: 500;
        margin-top: 15px;
        color: #FF6060;
        min-width: 335px;
        width: 335px;
        height: 46px;
        flex-shrink: 0;
        font-size: 18px;
        font-weight: 500;
    }

    .property-location {
        font-size: 14px;
        font-weight: 500;
        margin-top: -15px;
    }

    .property-tags-and-rating {
        display: flex;
        flex-direction: column;
        display: flex;
        gap: 20px;

        .property-rating {
            width: 98px;
            height: 18px;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
    
            img {
                width: 20%;
            }
        }
    
        .property-tags {
    
            .tag {
                min-width: 100px;
                max-width: 100px;
                padding-left: 0px;
                padding-right: 0px;
                height: 18px;
                border-radius: 5px;
                background: #FF6060;
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;
                color: #FFF;
                font-size: 10px;
            }
        }
    }

    .host-info {
        display: flex;
        flex-direction: row;
        font-size: 18px;
        font-weight: 500;
        margin-top: 24px;
        position: absolute;
        margin-top: 110px;
        margin-left: 240px;
    }

    .host-picture {
        height: 32px;
        width: 32px;
        border-radius: 90px;
    }
    
    .host-name {
        text-align: right;
        width: 53px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        font-size: 12px;
    }
    .detail-page-dropdown {
        max-width: 1240px;
        display: flex;
        flex-direction: column;
    }    
    div.dropdown.description-dropdown {
        max-width: 335px;
        min-width: 335px;
        margin-top: 25px;

        button {
            height: 30px;
            font-size: 13px;

            img {
                height: 20px;
                width: 20px;
            }
        }
    }
    
    div.dropdown.equipements-dropdown {
        max-width: 335px;
        min-width: 335px;
        margin-top: 20px;

        button {
            height: 30px;
            font-size: 13px;

            img {
                height: 20px;
                width: 20px;
            }
        }
    }
}