.property-information {
    color: #FF6060;
    display: flex;
    justify-content: space-between;
    p {
        color: #FF6060;
    }
}


.title-and-tags {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 36px;
        font-weight: 500;
        margin-top: 25px;
        color: #FF6060;
    }

    .property-location {
        font-size: 18px;
        font-weight: 500;
        margin-top: 10px;
    }

    .property-tags {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-top: 30px;

        .tag {
            min-width: 95px;
            padding-left: 10px;
            padding-right: 10px;
            height: 25px;
            border-radius: 5px;
            background: #FF6060;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFF;
            font-size: 14px;
        }
    }
}

.property-host-and-rating {
    display: flex;
    flex-direction: column;
    gap: 21px;
    .host-info {
        display: flex;
        flex-direction: row;
        font-size: 18px;
        font-weight: 500;
        margin-top: 24px;
    }
    
    .host-picture {
        height: 64px;
        width: 64px;
        border-radius: 90px;
    }
    
    .host-name {
        text-align: right;
        width: 93px;
        margin-right: 10px;
        display: flex;
        align-items: center;
    }
    
    .property-rating {
        width: 196px;
        height: 36px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
    
        img {
            width: 20%;
        }
    }
}
.detail-page-dropdown {
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    width: 100%;
    margin-top: 25px;
    .dropdown-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
  
    .dropdown-content {
      width: 100%;

      ul {
        color: #FF6060;
        font-family: 'Montserrat';
        font-size: 18px;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        gap: 3px;
        margin: 0px;
        padding-left: 0px;
      }
    }
}

div.dropdown.description-dropdown {
    max-width: 582px;
    width: 100%;
}

div.dropdown.equipements-dropdown {
    max-width: 582px;
    width: 100%;
}


@media (max-width: 480px) {
    .property-detail-page {
        max-width: 480px;
        width: 100%;
    }

    .property-information {
        display: flex;
        flex-direction: column;
    }

    .title-and-tags {
        display: flex;
        flex-direction: column;
    
        h1 {
            font-size: 18px;
            margin-top: 15px;
            color: #FF6060;
        }
    
        .property-location {
            font-size: 14px;
            font-weight: 500;
            margin-top: 8px;
        }
    
        .property-tags {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 10px;
    
            .tag {
                min-width: 64px;
                height: 18px;
                border-radius: 5px;
                font-size: 10px;
            }
        }
    }

    .property-host-and-rating {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;

        .host-info {
            font-size: 12px;
            font-weight: 500;
            margin: 0px;
        }
        
        .host-picture {
            height: 32px;
            width: 32px;
            border-radius: 90px;
        }
        
        .host-name {
            text-align: right;
            width: 93px;
            margin-right: 10px;
            display: flex;
            align-items: center;
        }
        
        .property-rating {
            width: 98px;
            height: 18px;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
        
            img {
                width: 20%;
            }
        }
    }

    .detail-page-dropdown {
        display: flex;
        flex-direction: column;
        margin-top: 13px;
        gap: 26px;
    }    
    div.dropdown.description-dropdown {
        button {
            height: 30px;
            font-size: 13px;

            img {
                height: 20px;
                width: 20px;
            }
        }
    }
    
    div.dropdown.equipements-dropdown {
        button {
            height: 30px;
            font-size: 13px;

            img {
                height: 20px;
                width: 20px;
            }
        }
    }

    .detail-page-dropdown {
        display: flex;
        justify-content: space-between;
      
        .dropdown-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
      
        .dropdown-content {
          font-size: 10px;
    
          ul {
            font-size: 12px;
          }

          p {
            font-size: 12px;
          }
        }
    }
}